@media (min-width: 1080px) {
    .nav_conteiner_home {
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .carousel__item {
        width: 25rem;
        height: 30rem;
    }

    
.carousel-item__img {
    width: 25rem;
    height: 30rem;
    object-fit: cover;
}
}