/*general*/

* {
    margin: 0;
    padding: 0;
}

html {
    color: rgb(255, 255, 255);
    font-size: 62.5%;
}

/*header*/

header {
    padding: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.brand_name_conteiner {
    margin: 0 1rem 1rem 0;
    padding: .5rem 2rem 2rem .5rem;
    font-size: 3rem;
    width: 80%;
    display: inline-block;
}

.logo_conteiner {
    min-width: 5rem;
    min-height: 5rem;
    max-width: 7rem;
    max-height: 7rem;  
    display: inline-block;
}

.logo_header {
    min-width: inherit;
    min-height: inherit;
    max-width: inherit;
    max-height: inherit;
}

/*nav*/

.nav_conteiner {
    padding: 0;
    width: 100%;
    position: relative;
    display: inline;
}

nav {
    padding: 1.5rem;
}

.nav_conteiner_home {
    border: 2px rgb(223, 223, 223) solid;
    border-radius: 7px;
    box-shadow: 3px 3px 5px rgb(44, 44, 44);
    min-width: 5rem;
    max-width: 6rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 10px;
    display: inline-block;
    background-color:   rgb(163, 226, 255);
    font-size: 2rem;
}

/*body*/

body {
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 71, 180);
}


p {
    padding: 1rem;
}

input {
    padding: 1rem;
    margin: .5rem;
    border-radius: 10px;
}

button {
    margin-top: .5rem;
    padding: 1rem;
    border-radius: 10px;
    background-color:rgb(224, 221, 221);
    font-size: 1.8rem;
}

/*carousel imgs*/

.carousel {
    overflow: scroll;
    padding: 3rem;
    position: relative;
}

.carousel__container {
    white-space: nowrap;
    padding-bottom: 1rem;
    margin-right: none;
    padding-right: none; 
}

.carousel__item {
    background-color: gainsboro;
    width: 15rem;
    height: 20rem;
    border-radius: 20px;
    margin-right: 10px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
}

.carousel__item:hover ~ .carousel__item {
    transform: translate3d(5rem, 0, 0);
}

.carousel__container:hover .carousel__item {
    opacity: 0.3;
}

.carousel__container:hover .carousel__item:hover {
    transform: scale(1.2);
    opacity: 1;
}

.carousel-item__img {
    width: 15rem;
    height: 20rem;
    object-fit: cover;
}

.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*href login/signin */

.acc_op {
    width: 100%;
    position: relative;
}

.acc_op_conteiner {
    padding: 5rem;
    min-width: 15rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.acc_op_signin {
    margin: .5rem;
    padding: 1rem;
    min-width: 10rem;
    border: 2px rgb(223, 223, 223) solid;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgb(44, 44, 44);
    display: inline-block;
    border-color: rgb(131, 131, 240);
    background-color:   rgb(163, 226, 255);
}

.acc_op_login {
    margin: .5rem;
    padding: 1rem;
    min-width: 10rem;
    display: inline-block;
    border-color: rgb(131, 131, 240);
    background-color:   rgb(163, 226, 255);
    border: 2px rgb(223, 223, 223) solid;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgb(44, 44, 44);
}

a:link {
    text-decoration: none;
}

/*ledger*/

.ledger {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ledger-tab {
    width: 100%;
}

.transaccion {
    margin: 1rem;
    padding: 10rem 5rem 10rem 5rem;
}

.pago-conteiner {
    margin: 1rem;
    padding: 2rem;
    display: inline-block;
}

.cobro-conteiner {
    margin: 1rem;
    padding: 2rem;
    display: inline-block;
}

/*registro*/

.registro-conteiner {
    min-width: 30%;
    margin-top: 2vw;
    margin-bottom: 10vw;
    margin-right: 18vw;
    margin-left: 15vw;
    padding: 4rem;
    border: 2px rgb(223, 223, 223) solid;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgb(44, 44, 44);
}

/*login*/

.login-conteiner {
    margin-top: 2vw;
    margin-bottom: 10vw;
    margin-right: 18vw;
    margin-left: 15vw;
    padding: 4rem;
    border: 2px rgb(223, 223, 223) solid;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgb(44, 44, 44);
}

footer {
    margin: 1rem;
    padding: 10rem 6rem 10rem 6rem;

}

