* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header {
    padding: 2rem;
}

nav {
    padding: 1.5rem;
}

p {
    padding: 1rem;
}

input {
    padding: .5rem;
    margin: .5rem;
}

button {
    margin-top: .5rem;
    padding: .5rem;
    background-color: gray;
    border-radius: 3px;
    font-size: 1.2rem;
}

a:link {
    text-decoration: none;
}

footer {
    padding: 3rem;
}

