@media (min-width: 768px) {
    .nav_conteiner_home {
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .brand_name_conteiner {
        width: 50%;
    }

    .carousel {
        overflow: hidden;
    }

    .carousel__item {
        width: 20rem;
        height: 25rem;
        margin-right: 10px;
    }
    
    .carousel-item__img {
    width: 20rem;
    height: 25rem;
    object-fit: cover;
}
    
.registro-conteiner {
    margin-right: 20vw;
    margin-left: 15vw;
    padding: 4rem;
    border: none;
    border-radius: none;
}

/*login*/

.login-conteiner {
    margin: 1rem;
    padding: 4rem;
    border: none;
    border-radius: none;
}

}