<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expediente</title>
</head>
    <div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>
    </div>
<body>
    <div>
        <table>
            <tr>
                <td>Fecha</td>
                <td>Servicio</td>
                <td>Descripción</td>
                <td>Total</td>
            </tr>
        </table>
    </div>
</body>
</html>