<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="../css/tablet.css" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="../css/desktop.css" media="screen and (min-width: 1080px)">
    <link rel="shortcut icon" href="/img/dentist-logo.jpg" />
    <title>DentistApp</title>
</head>
<body>
    <header>
        <div class="logo_conteiner">
            <img src="/img/dentist-logopng.png" alt="" class="logo_header">
        </div>
        <div class="brand_name_conteiner">
            <h1>DentistApp</h1>
        </div>
        <div class="nav_conteiner">
            <nav>
                <div class="nav_conteiner_home">
                    <a href="/">Home</a>
                </div>
                <div class="nav_conteiner_home">
                    <a href="/">Home</a>
                </div>
                <div class="nav_conteiner_home">
                    <a href="/">Home</a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <section class="login">
            <div class="login-conteiner">
                <h2>Inicia Sesión</h2> <br />
                <form onsubmit="iniciarSesion()" id="formularioLogin">
                    <input type="text" placeholder="Correo" id="correo"> <br />
                    <input type="text" placeholder="Contraseña" id="contraseña"> <br />
                    <button type="submit" id="botonLogin">Inicia Sesión</button> <br />
                </form>
            </div>    
        </section>
        <div class="acc_op_signin">
            <p>¿Aún no te registras? </p> <a href="./signin">Regístrate</a>
        </div>
    </main>
    <div class="footer_conteiner">
        <footer>
            8pus | 2021
        </footer>
    </div>
    <script src="../js/eventLogin.js"></script>
    <script src="../js/objetos.js"></script>
</body>
</html>